body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(239, 231, 231);
    text-decoration: none;
}

main {
    padding: 20px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content:none;
}

.product {
    background: rgb(224, 188, 188);
    border: 1px solid #110101;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 30%;
}

.product img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #085f1d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
